@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  text-decoration: none;
  color: black;
}

.card__text__short1,
.card__text__short2,
.card__text__short3,
.card__text__short4,
.card__text__short5,
.card__text__short6,
.card__text__short7,
.card__text__short8,
.card__text__short9,
.card__text__short10 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1em;
}

.btn--ver--mas {
  border: transparent;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  justify-self: start;
  align-self: flex-end;
}

.add__new-product {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.add__new-product .add_card__image {
  display: flex;
  justify-self: end;
  align-self: center;
}

.button--remove,
.button--add {
  font-size: 1em;
  margin: 0.35em;
  padding: 0.2em;
  border-radius: 0.5em;
}

.button--remove {
  background-color: lightgray;
}

.button--add {
  background-color: rgb(110, 254, 110);
}

.slider {
  position: relative;
  height: 30vh;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 1em;
  justify-content: space-around;
  animation-name: move-slide;
  animation-duration: 6s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
.slider__one, .slider__two, .slider__three, .slider__four, .slider__five {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.slider__title {
  position: absolute;
  color: green;
  font-size: 2rem;
  color: white;
}
.slider__image,
.slider .slider__five video {
  height: 28vh;
  width: auto;
  object-fit: fill;
  object-position: center;
  border-radius: 10%;
}
@keyframes move-slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.card {
  position: relative;
  z-index: 1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  margin: 1vw;
  border: 0.02em solid black;
  border-radius: 4%/4%;
}
.card__image {
  width: 15vw;
  height: 15vw;
}
.card__title {
  color: black;
  text-align: center;
  font-size: 1.5em;
}
.card__price {
  font-weight: bold;
}
.card__price::before {
  content: "$ ";
}

.card:hover {
  position: relative;
  bottom: 0.75vh;
  box-shadow: 2px 2px 8px 4px #2D549D;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  padding: 0.5vw;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
  margin-top: 3em;
  height: 5em;
  background: linear-gradient(45deg, rgba(229, 146, 52, 0.6) 0%, rgba(46, 85, 158, 0.7) 80%);
}
.footer img {
  height: 3em;
}

.header {
  grid-area: header;
  width: 100%;
}
.header__top {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "header-logo header-title header-car-shop";
  justify-items: center;
  align-items: center;
  padding: 2vw;
}
.header__top__logo {
  grid-area: header-logo;
  height: 20vh;
  width: auto;
  cursor: pointer;
}
.header__top__title {
  grid-area: header-title;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  border-radius: 50%/50%;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
}
.header__top__title h1 {
  color: white;
  position: relative;
  font-size: 3.5em;
  animation: move-title 3s ease-in-out 1;
}
.header__top__car-shop {
  grid-area: header-car-shop;
  padding: 1vw;
  border-radius: 25%;
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.header__top__car-shop .header__car-shop__image {
  height: 2.8em;
}
.header__top__car-shop .header__car-shop__counter {
  color: white;
  font-size: 1.5em;
}
@keyframes move-title {
  0% {
    left: 100%;
    color: transparent;
  }
  20% {
    left: 0%;
    font-style: normal;
  }
  50% {
    transform: rotateY(360deg);
    font-size: 4em;
  }
  100% {
    left: 0%;
  }
}

.main {
  grid-area: main;
}
.main .section {
  width: 98%;
}
.main .section--slider {
  overflow: hidden;
}
.main .section--products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(28vw, auto);
  justify-items: center;
  gap: 1vw;
  overflow: visible;
  margin-top: 6vh;
}
.main .section__products__title {
  text-align: center;
  font-size: 3em;
  margin-top: 10vh;
  color: white;
  border-radius: 50%/50%;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
}
.main .section .ocultar__p {
  display: none;
}
.main .section__new__product {
  height: 70%;
  width: auto;
}
.main .section__new__product .new__product {
  display: grid;
  grid-template-rows: 1fr 4.5fr;
  justify-items: center;
  width: 100%;
  border-radius: 5%/10%;
  background: linear-gradient(45deg, rgba(229, 146, 52, 0.6) 0%, rgba(46, 85, 158, 0.7) 80%);
}
.main .section__new__product .new__product__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 2%;
  text-align: center;
}
.main .section__new__product .new__product__form {
  display: flex;
  align-content: center;
  width: 90%;
  padding: 2%;
  justify-content: center;
}
.main .section__new__product .new__product__form input,
.main .section__new__product .new__product__form textarea,
.main .section__new__product .new__product__form label[for=file] {
  align-items: center;
  width: 90%;
  height: 2.5em;
  margin: 2%;
  border-radius: 0.4em;
  border: none;
}
.main .section__new__product .new__product__form textarea {
  padding: 0.25em;
  height: 6em;
  resize: none;
}
.main .section__new__product .new__product__form input[type=file] {
  height: 0;
  padding: 0;
  opacity: 0;
}
.main .section__new__product .new__product__form label[for=file] {
  display: flex;
  position: relative;
  top: 0.5em;
  width: 70%;
  box-shadow: 1px 1px 3px white;
  background: linear-gradient(to bottom, white, white);
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .section--nosotros {
  height: min(10vh, auto) !important;
  width: 80%;
  padding: 1.5vw;
}
.main .section--nosotros .new__product-nosotros {
  display: grid;
  grid-template-rows: 1fr 4.5fr;
  justify-items: center;
  width: 100%;
  border-radius: 5%/15%;
  background: linear-gradient(45deg, rgba(229, 146, 52, 0.6) 0%, rgba(46, 85, 158, 0.7) 80%);
}
.main #maps {
  border: none;
  border-radius: 15%;
}
.main .name-product,
.main .description-product,
.main .price-product,
.main .name-contact,
.main .lastname-contact,
.main .email-contact,
.main .description-contact {
  display: flex;
  width: fit-content;
  background: rgba(255, 0, 0, 0.5);
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.navbar {
  grid-area: navbar;
  width: 92%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.navbar__menu {
  grid-area: navbar-menu;
  display: flex;
  flex-direction: row;
}
.navbar__menu .navbar_item--active {
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
  color: white;
}
.navbar__menu .navbar__item {
  font-size: 1.5em;
  border: 0.025em solid black;
  background-color: lightgray;
  width: 25vw;
  padding: 0.2em;
  display: flex;
  justify-content: center;
}
.navbar .header__form {
  display: flex;
  width: 17vw;
  border-radius: 0.1em;
}
.navbar .header__form__search {
  display: flex;
  width: 17vw;
  font-size: 1.2em;
  border-radius: 0 1em 1em 0;
  padding-left: 0.5em;
}
.navbar .header__form__icon img {
  height: 2em;
  width: 2em;
  text-align: end;
}
.navbar .navbar__item:hover {
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
  color: white;
}
.navbar .header__form button {
  border-radius: 25%;
  border: none;
  background-color: transparent;
}/*# sourceMappingURL=main.css.map */