@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  text-decoration: none;
  color: black;
}

.slider {
  position: relative;
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  animation-name: move-slide;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
.slider__one, .slider__two, .slider__three, .slider__four, .slider__five {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.slider__title {
  position: absolute;
  color: green;
  font-size: 2rem;
  color: white;
}
.slider__image,
.slider .slider__five video {
  height: 28vh;
  width: auto;
  object-fit: fill;
  object-position: center;
  border-radius: 10%;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5vw;
  margin: 1vw;
  width: 18vw;
  height: 28vw;
  border: 0.02em solid black;
  border-radius: 4%/4%;
}
.card__image {
  width: 15vw;
  height: 15vw;
}
.card__title {
  color: black;
  text-align: center;
  font-size: 1.5em;
}
.card__price {
  font-weight: bold;
}
.card__price::before {
  content: "$ ";
}
.card .card__text__short {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1em;
}
.card #view__full {
  border: transparent;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  justify-self: start;
  align-self: flex-end;
}

.card:hover {
  position: relative;
  bottom: 0.75vh;
  box-shadow: 2px 2px 8px 4px #2D549D;
}

.add__new-product {
  color: red;
  justify-content: space-evenly;
}
.add__new-product .add_card__image {
  justify-self: center;
  align-self: center;
  width: 60%;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  padding: 0.5vw;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
  width: 100%;
}
.header__top {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "header-logo header-title header-car-shop";
  justify-items: center;
  align-items: center;
  padding: 2vw;
}
.header__top__logo {
  grid-area: header-logo;
  height: 20vh;
  width: auto;
  cursor: pointer;
}
.header__top__title {
  grid-area: header-title;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  border-radius: 50%/50%;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
}
.header__top__title h1 {
  color: white;
  position: relative;
  font-size: 3.5em;
  animation: move-title 3s ease-in-out 1;
}
.header__top__car-shop {
  grid-area: header-car-shop;
  padding: 1vw;
  border-radius: 25%;
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.header__top__car-shop .header__car-shop__image {
  height: 2.8em;
}
.header__top__car-shop .header__car-shop__counter {
  color: white;
  font-size: 1.5em;
}
@keyframes move-title {
  0% {
    left: 100%;
    color: transparent;
  }
  20% {
    left: 0%;
    font-style: normal;
  }
  50% {
    transform: rotateY(360deg);
    font-size: 4em;
  }
  100% {
    left: 0%;
  }
}

.main {
  grid-area: main;
}
.main .section {
  width: 98%;
}
.main .section--slider {
  overflow: hidden;
}
.main .section--products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  overflow: visible;
  flex-wrap: wrap;
  margin-top: 6vh;
}
.main .section__products__title {
  text-align: center;
  font-size: 3em;
  margin-top: 10vh;
  color: white;
  border-radius: 50%/50%;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
}
.main .section__new__product {
  margin-left: 20vw;
  height: 60vw;
  width: 60vw;
}
.main .section__new__product .new__product {
  display: flex;
  justify-content: center;
  align-content: end;
  height: 60%;
  width: 100%;
  border-radius: 5%/10%;
  background: linear-gradient(45deg, rgba(229, 146, 52, 0.6) 0%, rgba(46, 85, 158, 0.7) 80%);
}
.main .section__new__product .new__product__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 2%;
}
.main .section__new__product .new__product__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: content-box;
  width: 50%;
  height: 100%;
  padding: 2%;
}
.main .section__new__product .new__product__form input,
.main .section__new__product .new__product__form textarea,
.main .section__new__product .new__product__form label[for=file] {
  width: 100%;
  height: 2.5em;
  margin: 2%;
  border-radius: 0.4em;
  border: none;
}
.main .section__new__product .new__product__form textarea {
  padding: 0.25em;
  height: 6em;
  resize: none;
}
.main .section__new__product .new__product__form input[type=file] {
  height: 0;
  padding: 0;
  opacity: 0;
}
.main .section__new__product .new__product__form label[for=file] {
  position: relative;
  top: 0.5em;
  box-shadow: 1px 1px 3px white;
  background: linear-gradient(to bottom, white, white);
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
}

.navbar {
  grid-area: navbar;
  width: 92%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.navbar__menu {
  grid-area: navbar-menu;
  display: flex;
  flex-direction: row;
}
.navbar__menu .navbar_item--active {
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
  color: white;
}
.navbar__menu .navbar__item {
  font-size: 1.5em;
  border: 0.025em solid black;
  background-color: lightgray;
  width: 25vw;
  padding: 0.2em;
  display: flex;
  justify-content: center;
}
.navbar .header__search {
  font-size: 1.5em;
  width: 19vw;
  border-radius: 0.5em;
}
.navbar .header__search__icon img {
  height: 2em;
  text-align: end;
}
.navbar .navbar__item:hover {
  background: linear-gradient(45deg, #E59132 20%, #2D549D 80%);
  color: white;
}/*# sourceMappingURL=main.css.map */