@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;


body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";

    padding: 0.5vw;

    font-family: 'roboto', Arial, Helvetica, sans-serif;
}