@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.card {
    position: relative;
    z-index: 1;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 1em;
    margin: 1vw;

    border: 0.02em solid black;
    border-radius: 4%/4%;

    &__image {
        width: 15vw;
        height: 15vw;

    }

    &__title {
        color: black;
        text-align: center;
        font-size: 1.5em;

    }

    &__price {
        font-weight: bold;


        &::before {
            content: "$ ";
        }

    }


}


.card:hover {
    position: relative;
    bottom: 0.75vh;
    box-shadow: 2px 2px 8px 4px var.$colorLogoBlue;
}

@media (max-width: 600px) {
    .card {
        border-radius: 10%/10%;

        &__image {
            margin: 1vw;
            width: 25vw;
            height: 25vw;

        }

        &__title {
            font-size: 1.2em;

        }

        p {
            font-size: 0.8em;
        }

    }

}