$colorLogoOrange: #E59132;
$colorLogoBlue: #2D549D;
$colorGradientBackground : linear-gradient(45deg, #E59132 20%, #2D549D 80%);
$backgroundBtnRemoveHover: rgb(224, 70, 70);
$backgroundBtnAddHover: rgb(110, 254, 110);
$backgroundBtn: lightgray;